/* Code tidied up by ScrapBook */
@import url("css.css");
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0px; padding: 0px; border: 0px none; font-size: 100%; }
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }
ol, ul { list-style: outside none none; }
html { font-size: 100%; }
body { overflow-x: hidden; position: relative; font-family: "Ubuntu",sans-serif ! important; font-size: 14px; line-height: 22px; font-weight: 300; background-color: rgb(255, 255, 255); color: rgb(34, 49, 63); }
*::-moz-selection { background: rgb(28, 88, 143) none repeat scroll 0% 0%; color: rgb(255, 255, 255); text-shadow: none; }
*::selection { background: rgb(28, 88, 143) none repeat scroll 0% 0%; color: rgb(255, 255, 255); text-shadow: none; }
input, textarea, input[type="submit"]:focus, div { outline: medium none; }
button, input, select, textarea { vertical-align: top; margin: 0px; }
h1, h2, h3, h4, h5, h6 { font-family: "Noto Serif",serif; }
h1, h2, h3, h4, h5, h6 { font-weight: 600; line-height: 1.2em; margin-bottom: 0.7em; text-transform: none; }
h1 { font-size: 25px; }
h2 { font-size: 23px; }
h4 { font-size: 17px; }
small { font-size: 85%; }
p { line-height: 22px; margin-bottom: 10px; }
a { color: rgb(34, 49, 63); cursor: pointer; }
a:hover { color: rgb(246, 71, 71); text-decoration: none; transition: all 0.35s ease 0s; }
hr { margin: 15px 0px; border-color: rgb(224, 237, 237); }
.light-gray h1, .light-gray h2, .light-gray h3, .light-gray h4, .light-gray h5, .light-gray h6 { color: rgb(34, 49, 63); }
.c-gray { color: rgb(34, 49, 63) ! important; }
.light-gray { background: rgb(228, 241, 254) none repeat scroll 0% 0%; color: rgb(34, 49, 63); }
.light-gray a, .light-gray > i { color: rgb(34, 49, 63); }
.base { background: rgb(246, 71, 71) none repeat scroll 0% 0%; color: rgb(255, 255, 255) ! important; }
.bg-white { background: rgb(255, 255, 255) none repeat scroll 0% 0% ! important; }
.bg-white { background: rgb(255, 255, 255) none repeat scroll 0% 0%; color: rgb(102, 102, 102); }
.no-margin { margin: 0px ! important; }
header { padding: 0px; }
header .navbar-wp .navbar-brand { height: auto; padding: 0px 15px; margin-top: 14px; border: 1px solid transparent; border-radius: 3px; }
header .navbar-wp .navbar-brand img { height: 46px; }
header .navbar-fixed { width: 100%; left: 0px; }
.top-header { border-bottom: 1px solid rgb(224, 237, 237); background: rgb(255, 255, 255) none repeat scroll 0% 0%; }
.top-header .aux-text { padding: 10px 0px; color: rgb(153, 153, 153); font-size: 11px; }
.top-header .top-header-menu { float: right; }
.top-header .top-header-menu > ul.top-menu { list-style: outside none none; margin: 0px; padding: 0px; }
.top-header .top-header-menu > ul.top-menu > li { position: relative; float: left; display: inline-block; border-right: 1px solid rgb(242, 242, 242); }
.top-header .top-header-menu > ul.top-menu > li:last-child { border: 0px none; }
.top-header .top-header-menu > ul.top-menu > li > a { display: block; padding: 10px 15px; color: rgb(34, 49, 63); text-transform: uppercase; font-size: 11px; font-weight: 400; }
.top-header .top-header-menu > ul.top-menu > li.dropdown > a::after { content: ""; margin-left: 6px; font-family: "FontAwesome"; position: relative; float: right; }
.top-header.top-header-dark { border-bottom: 1px solid rgb(42, 63, 84); background: rgb(52, 73, 94) none repeat scroll 0% 0%; }
.top-header.top-header-dark .aux-text { color: rgb(255, 255, 255); }
.top-header.top-header-dark .top-header-menu > ul.top-menu > li { border-color: rgb(42, 63, 84); }
.top-header.top-header-dark .top-header-menu > ul.top-menu > li > a { color: rgb(255, 255, 255); }
.navbar-wp { margin: 0px; padding: 0px; border-width: 0px 0px 1px; border-style: none none solid; border-color: currentcolor currentcolor rgb(224, 237, 237); -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; border-radius: 0px; z-index: 1000; background: rgb(255, 255, 255) none repeat scroll 0% 0%; }
.navbar-wp .navbar-nav > li > a { border-top: 3px solid transparent; padding: 28px 16px; margin-right: 0px; font-size: 16px; font-weight: 700; font-family: "Noto Serif",serif; color: rgb(52, 73, 94); text-transform: uppercase; transition: all 0.25s ease-out 0s; }
.navbar-wp .navbar-nav > li > a:hover, .navbar-wp .navbar-nav > li > a:focus { color: rgb(255, 255, 255); background-color: rgb(246, 71, 71); border-top: 3px solid rgb(246, 71, 71); }
.navbar-toggle .icon-custom { font-size: 16px; }
.navbar-toggle:hover, .navbar-toggle:focus { background-color: rgb(246, 71, 71); border-color: rgb(246, 71, 71); }
.navbar-toggle:hover .icon-custom, .navbar-toggle:focus .icon-custom { color: rgb(255, 255, 255); }
.navbar-toggle { border-color: rgb(34, 49, 63); border-radius: 2px; margin-top: 20px; color: rgb(34, 49, 63); padding: 12px 16px 7px; }
.navbar-wp .navbar-nav { margin-top: 0px; }
.navbar-wp .navbar-collapse, .navbar-wp .navbar-form { border-color: rgb(231, 231, 231); }
.navbar-wp .dropdown-menu { min-width: 220px; padding: 0px; background: rgb(52, 73, 94) none repeat scroll 0% 0%; border-width: 1px 0px 3px; border-style: solid none; border-color: rgb(47, 65, 84) currentcolor; -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; border-radius: 2px; }
.navbar-wp .dropdown-menu > li { border-bottom: 1px solid rgb(47, 65, 84); }
.navbar-wp .dropdown-menu > li:last-child { border: 0px none; }
.navbar-wp .dropdown-menu > li > a { color: rgb(255, 255, 255); padding: 8px 15px; }
.navbar-wp .dropdown-menu > li > a:hover { background: rgb(246, 71, 71) none repeat scroll 0% 0%; color: rgb(255, 255, 255); }
.mega-nav .nav, .mega-nav .collapse, .mega-nav .dropup, .mega-nav .dropdown.mega-dropdown-fluid { position: static; }
.mega-nav .container { position: relative; }
.mega-nav .dropdown-menu { left: auto; }
.navbar-wp .navbar-nav > li > a:hover, .navbar-wp .navbar-nav > li > a:focus { color: rgb(34, 49, 63); background-color: rgb(246, 71, 71); }
.pg-opt { border-bottom: 1px solid rgb(43, 60, 78); background: rgb(52, 73, 94) none repeat scroll 0% 0%; color: rgb(255, 255, 255); }
.pg-opt h1 { margin: 0px; padding: 16px 0px; font-size: 21px; font-weight: 500; line-height: 100%; text-transform: none; color: rgb(255, 255, 255); }
.pg-opt .breadcrumb { float: right; margin: 0px; padding: 16px 15px 16px 0px; background: transparent none repeat scroll 0% 0%; border-radius: 0px; }
.pg-opt .breadcrumb a { color: rgb(255, 255, 255); }
.pg-opt .breadcrumb a:hover { color: rgb(246, 71, 71); }
.pg-opt .breadcrumb li.active { color: rgb(255, 255, 255); }
@media only screen and (max-width: 767px) {
}
.wp-block { margin: 0px 0px 15px; transition: all 0.3s linear 0s; position: relative; cursor: default; border-radius: 2px; }
.wp-block::before, .wp-block::after { display: table; content: ""; }
.wp-block::after { clear: both; }
.wp-section::before, .w-section::after { display: table; content: " "; }
.wp-section::after { clear: both; }
.wp-block.inverse h2, .wp-block.inverse .title { margin: 0px; padding: 12px 15px 0px 0px; font-weight: 500; font-size: 17px; color: rgb(34, 49, 63); text-transform: none; }
.wp-block.inverse small { display: block; font-size: 12px; margin-top: 3px; }
.wp-block.inverse p { margin: 6px 0px; padding-bottom: 8px; }
.hov { float: left; width: 100%; text-decoration: none; }
.hov p { margin: 0px; }
.caption { padding: 20px; }
.caption p { font-size: 14px; line-height: 18px; margin: 10px 0px 0px ! important; }
@media (max-width: 767px) {
}
.aside-menu.left { width: 280px; height: 100%; overflow-y: scroll; position: fixed; left: 0px; top: 0px; background: rgb(34, 34, 34) none repeat scroll 0% 0%; border-right: 1px solid rgb(51, 51, 51); display: none; z-index: 1100; }
.aside-menu .form-search { margin: 0px; padding: 0px; border-bottom: 1px solid rgb(51, 51, 51); }
.aside-menu .form-search .form-control { display: block; height: 34px; padding: 21px 15px; color: rgb(255, 255, 255); background-color: transparent; border: 0px none; border-radius: 0px; box-shadow: none; transition: none 0s ease 0s ; }
.aside-menu .form-search .btn-close { background: transparent none repeat scroll 0% 0%; color: rgb(255, 255, 255); }
.aside-menu .form-search .btn-close i { font-weight: 300 ! important; font-size: 16px; }
section.slice { padding: 30px 0px; }
.wp-section::before, .wp-section::after { display: table; content: " "; }
.wp-section::after { clear: both; }
.work { width: 100%; overflow: hidden; }
@media (max-width: 767px) {
}
@media (max-width: 479px), (min-width: 768px) and (max-width: 991px) {
}
@media (max-width: 767px) {
}
@media (max-width: 479px) {
}
@media (max-width: 479px) {
}
@media (max-width: 479px) {
}
@media not all, only screen and (min-resolution: 144dpi) {
}
@media (max-width: 479px), (min-width: 768px) and (max-width: 991px) {
}
.form-control { border-radius: 2px ! important; padding: 8px 12px; }
.form-light .form-control { outline: medium none; box-shadow: none ! important; background: rgb(255, 255, 255) none repeat scroll 0% 0%; border: 1px solid rgb(224, 237, 237); color: rgb(112, 128, 139); font-size: 14px ! important; }
.form-light .form-control:focus { outline: medium none ! important; box-shadow: none ! important; border-color: rgb(246, 71, 71); }
.form-light .form-control:-moz-placeholder { color: rgb(153, 153, 153); }
.form-light .form-control::-moz-placeholder, .form-light .form-control[placeholder] { color: rgb(153, 153, 153); }
.form-alpha .form-control::-moz-placeholder, .form-light .form-control[placeholder] { color: rgb(153, 153, 153); }
footer { padding-top: 15px; padding-bottom: 20px; min-height: 30px; background: rgb(34, 49, 63) none repeat scroll 0% 0%; }
footer::before, footer::after { display: table; content: " "; }
footer::after { clear: both; }
footer h4 { margin-top: 20px; color: rgb(204, 204, 204); margin-bottom: 20px; text-transform: none; font-size: 14px; font-weight: 500; }
footer .col p { color: rgb(204, 204, 204); font-size: 13px; margin-bottom: 10px; }
footer a { color: rgb(204, 204, 204); text-decoration: none; }
footer a:hover { text-decoration: none; }
footer .col ul { margin: 0px; padding: 0px; list-style: outside none none; }
footer .col ul li { color: rgb(143, 143, 143); }
footer .col.col-social-icons i { width: 40px; height: 40px; display: inline-block; padding: 10px; margin-right: 10px; margin-bottom: 10px; text-align: center; font-size: 18px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; color: rgb(51, 51, 51); border-radius: 2px; }
footer form { margin-top: 20px; }
footer hr { border-top: 1px solid rgb(68, 68, 68); }
footer .copyright { color: rgb(255, 255, 255); }
.like-button .button { display: block; text-align: right; padding-top: 10px; color: rgb(221, 221, 221); }
.like-button .button i { font-size: 20px; color: rgb(221, 221, 221); }
.like-button .count { display: block; text-align: right; position: relative; top: -7px; }
#toTop { display: none; text-decoration: none; position: fixed; bottom: 10px; right: 10px; overflow: hidden; width: 40px; height: 40px; border: 0px none; text-indent: 100%; background: rgb(85, 85, 85) none repeat scroll 0% 0%; border-radius: 3px; }
#toTopHover { background: rgb(246, 71, 71) none repeat scroll 0% 0%; width: 40px; height: 40px; display: block; overflow: hidden; float: left; opacity: 0; }
#toTop:active, #toTop:focus { outline: medium none; }
#toTop::before { font-family: "FontAwesome"; content: ""; color: rgb(255, 255, 255); font-size: 20px; position: absolute; top: 50%; left: 50%; width: 20px; height: 20px; text-align: center; line-height: 20px; margin-top: -10px; margin-left: -10px; text-indent: 0px; }
@media (max-width: 991px) {
}
@media (max-width: 479px) {
}
.btn { font-weight: normal; white-space: nowrap; vertical-align: middle; cursor: pointer; background-image: none; border: 1px solid transparent; border-radius: 2px; -moz-user-select: none; }
.btn:hover, .btn:focus { transition: background-position 0s linear 0s; }
.btn i { margin-right: 4px; }
.btn-lg { font-size: 18px; line-height: 1.33; border-radius: 2px; }
.btn-base { color: rgb(255, 255, 255) ! important; background-color: rgb(246, 71, 71); border: 1px solid rgb(245, 47, 47); }
.btn-base:hover, .btn-base:focus, .btn-base:active, .btn-base.active, .open .dropdown-toggle.btn-base { color: rgb(255, 255, 255); background-color: rgb(247, 95, 95); border-color: rgb(247, 95, 95); }
.btn-base:active, .btn-base.active, .open .dropdown-toggle.btn-base { background-image: none; }
.btn-dark { color: rgb(255, 255, 255); background-color: rgb(52, 73, 94); border: 1px solid rgb(43, 60, 78); }
.btn-dark:hover, .btn-dark:focus, .btn-dark:active, .btn-dark.active, .open .dropdown-toggle.btn-dark { color: rgb(255, 255, 255); background-color: rgb(70, 98, 127); border-color: rgb(70, 98, 127); }
.btn-dark:active, .btn-dark.active, .open .dropdown-toggle.btn-dark { background-image: none; }
.btn-icon { position: relative; }
.btn-icon span, .btn-icon input { padding-left: 40px; }
.btn-icon::before { position: absolute; top: 0px; left: 0px; bottom: 0px; width: 36px; color: rgb(255, 255, 255); border-right: 0px none; transition: background 0.1s linear 0s; }
.btn-icon::before { font-family: "FontAwesome"; line-height: 32px; }
.btn-icon.btn::before { border-top-left-radius: 2px; border-bottom-left-radius: 2px; }
.btn-base::before { background-color: rgb(244, 22, 22); }
.btn-dark::before { background-color: rgb(34, 47, 61); }
.dl-menuwrapper { width: 100%; max-width: 300px; float: left; position: relative; perspective: 1000px; perspective-origin: 50% 200%; }
.dl-menuwrapper:first-child { margin-right: 100px; }
.dl-menuwrapper ul { padding: 0px; list-style: outside none none; transform-style: preserve-3d; }
.dl-menuwrapper li { position: relative; }
.dl-menuwrapper li a { display: block; position: relative; padding: 10px 20px; font-size: 14px; color: rgb(255, 255, 255); outline: medium none; border-bottom: 1px solid rgb(51, 51, 51); }
.no-touch .dl-menuwrapper li a:hover { background: rgba(255, 248, 213, 0.1) none repeat scroll 0% 0%; }
.dl-menuwrapper li.dl-back > a { padding-left: 30px; background: rgba(0, 0, 0, 0.1) none repeat scroll 0% 0%; }
.dl-menuwrapper li.dl-back::after, .dl-menuwrapper li > a:not(:only-child)::after { position: absolute; top: 0px; line-height: 43px; font-family: "FontAwesome"; content: ""; color: rgb(255, 255, 255); }
.dl-menuwrapper li.dl-back::after { left: 10px; color: rgba(212, 204, 198, 0.3); transform: rotate(180deg); }
.dl-menuwrapper li > a::after { right: 10px; color: rgba(0, 0, 0, 0.15); }
.dl-menuwrapper .dl-menu { margin: 0px; position: absolute; width: 100%; opacity: 0; pointer-events: none; transform: translateY(10px); backface-visibility: hidden; }
.dl-menuwrapper li .dl-submenu { display: none; }
@keyframes MenuAnimOut1 {
50% { transform: translateZ(-250px) rotateY(30deg); }
75% { transform: translateZ(-372.5px) rotateY(15deg); opacity: 0.5; }
100% { transform: translateZ(-500px) rotateY(0deg); opacity: 0; }
}
@keyframes MenuAnimOut2 {
100% { transform: translateX(-100%); opacity: 0; }
}
@keyframes MenuAnimOut3 {
100% { transform: translateZ(300px); opacity: 0; }
}
@keyframes MenuAnimOut4 {
100% { transform: translateZ(-300px); opacity: 0; }
}
@keyframes MenuAnimOut5 {
100% { transform: translateY(40%); opacity: 0; }
}
@keyframes MenuAnimOut1 {
50% { transform: translateZ(-250px) rotateY(30deg); }
75% { transform: translateZ(-372.5px) rotateY(15deg); opacity: 0.5; }
100% { transform: translateZ(-500px) rotateY(0deg); opacity: 0; }
}
@keyframes MenuAnimOut2 {
100% { transform: translateX(-100%); opacity: 0; }
}
@keyframes MenuAnimOut3 {
100% { transform: translateZ(300px); opacity: 0; }
}
@keyframes MenuAnimOut4 {
100% { transform: translateZ(-300px); opacity: 0; }
}
@keyframes MenuAnimOut5 {
100% { transform: translateY(40%); opacity: 0; }
}
@keyframes MenuAnimIn1 {
0% { transform: translateZ(-500px) rotateY(0deg); opacity: 0; }
20% { transform: translateZ(-250px) rotateY(30deg); opacity: 0.5; }
100% { transform: translateZ(0px) rotateY(0deg); opacity: 1; }
}
@keyframes MenuAnimIn2 {
0% { transform: translateX(-100%); opacity: 0; }
100% { transform: translateX(0px); opacity: 1; }
}
@keyframes MenuAnimIn3 {
0% { transform: translateZ(300px); opacity: 0; }
100% { transform: translateZ(0px); opacity: 1; }
}
@keyframes MenuAnimIn4 {
0% { transform: translateZ(-300px); opacity: 0; }
100% { transform: translateZ(0px); opacity: 1; }
}
@keyframes MenuAnimIn5 {
0% { transform: translateY(40%); opacity: 0; }
100% { transform: translateY(0px); opacity: 1; }
}
@keyframes MenuAnimIn1 {
0% { transform: translateZ(-500px) rotateY(0deg); opacity: 0; }
20% { transform: translateZ(-250px) rotateY(30deg); opacity: 0.5; }
100% { transform: translateZ(0px) rotateY(0deg); opacity: 1; }
}
@keyframes MenuAnimIn2 {
0% { transform: translateX(-100%); opacity: 0; }
100% { transform: translateX(0px); opacity: 1; }
}
@keyframes MenuAnimIn3 {
0% { transform: translateZ(300px); opacity: 0; }
100% { transform: translateZ(0px); opacity: 1; }
}
@keyframes MenuAnimIn4 {
0% { transform: translateZ(-300px); opacity: 0; }
100% { transform: translateZ(0px); opacity: 1; }
}
@keyframes MenuAnimIn5 {
0% { transform: translateY(40%); opacity: 0; }
100% { transform: translateY(0px); opacity: 1; }
}
@keyframes SubMenuAnimIn1 {
0% { transform: translateX(50%); opacity: 0; }
100% { transform: translateX(0px); opacity: 1; }
}
@keyframes SubMenuAnimIn2 {
0% { transform: translateX(100%); opacity: 0; }
100% { transform: translateX(0px); opacity: 1; }
}
@keyframes SubMenuAnimIn3 {
0% { transform: translateZ(-300px); opacity: 0; }
100% { transform: translateZ(0px); opacity: 1; }
}
@keyframes SubMenuAnimIn4 {
0% { transform: translateZ(300px); opacity: 0; }
100% { transform: translateZ(0px); opacity: 1; }
}
@keyframes SubMenuAnimIn5 {
0% { transform: translateZ(-200px); opacity: 0; }
100% { transform: translateZ(0px); opacity: 1; }
}
@keyframes SubMenuAnimIn1 {
0% { transform: translateX(50%); opacity: 0; }
100% { transform: translateX(0px); opacity: 1; }
}
@keyframes SubMenuAnimIn2 {
0% { transform: translateX(100%); opacity: 0; }
100% { transform: translateX(0px); opacity: 1; }
}
@keyframes SubMenuAnimIn3 {
0% { transform: translateZ(-300px); opacity: 0; }
100% { transform: translateZ(0px); opacity: 1; }
}
@keyframes SubMenuAnimIn4 {
0% { transform: translateZ(300px); opacity: 0; }
100% { transform: translateZ(0px); opacity: 1; }
}
@keyframes SubMenuAnimIn5 {
0% { transform: translateZ(-200px); opacity: 0; }
100% { transform: translateZ(0px); opacity: 1; }
}
@keyframes SubMenuAnimOut1 {
0% { transform: translateX(0px); opacity: 1; }
100% { transform: translateX(50%); opacity: 0; }
}
@keyframes SubMenuAnimOut2 {
0% { transform: translateX(0px); opacity: 1; }
100% { transform: translateX(100%); opacity: 0; }
}
@keyframes SubMenuAnimOut3 {
0% { transform: translateZ(0px); opacity: 1; }
100% { transform: translateZ(-300px); opacity: 0; }
}
@keyframes SubMenuAnimOut4 {
0% { transform: translateZ(0px); opacity: 1; }
100% { transform: translateZ(300px); opacity: 0; }
}
@keyframes SubMenuAnimOut5 {
0% { transform: translateZ(0px); opacity: 1; }
100% { transform: translateZ(-200px); opacity: 0; }
}
@keyframes SubMenuAnimOut1 {
0% { transform: translateX(0px); opacity: 1; }
100% { transform: translateX(50%); opacity: 0; }
}
@keyframes SubMenuAnimOut2 {
0% { transform: translateX(0px); opacity: 1; }
100% { transform: translateX(100%); opacity: 0; }
}
@keyframes SubMenuAnimOut3 {
0% { transform: translateZ(0px); opacity: 1; }
100% { transform: translateZ(-300px); opacity: 0; }
}
@keyframes SubMenuAnimOut4 {
0% { transform: translateZ(0px); opacity: 1; }
100% { transform: translateZ(300px); opacity: 0; }
}
@keyframes SubMenuAnimOut5 {
0% { transform: translateZ(0px); opacity: 1; }
100% { transform: translateZ(-200px); opacity: 0; }
}
.navbar { transform: translateZ(0px); }
h4#results-text { display: none; }
ul#results { display: none; margin-top: 4px; border: 1px solid rgb(171, 171, 171); border-radius: 2px; box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.15); }
@media (min-width: 992px) {
}
@media (max-width: 991px) {
}
@media (min-width: 1200px) {
  .top-header .aux-text { display: inline-block ! important; float: left; }
  .navbar-default .dropdown-menu, .navbar-wp .dropdown-menu { margin-top: 0px ! important; }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .top-header .aux-text { display: inline-block ! important; }
  .navbar-default .dropdown-menu, .navbar-wp .dropdown-menu { margin-top: 0px ! important; }
  .wp-block, .carousel-work .figure { margin-bottom: 15px ! important; }
}
@media (min-width: 768px) and (max-width: 991px) {
  .top-header .aux-text { display: inline-block ! important; }
  .wp-block, .carousel-work .figure { margin-bottom: 15px ! important; }
}
@media (max-width: 767px) {
  .wp-block, .carousel-work .figure { margin-bottom: 15px ! important; }
}
@media only screen and (min-width: 1440px) {
}
@media (max-width: 460px) {
}
@media (min-width: 768px) {
}
@media (max-width: 991px) {
  .navbar-header { float: none; }
  .navbar-toggle { display: block; }
  .navbar-collapse { border-top: 1px solid transparent; box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.1) inset; }
  .navbar-collapse.collapse { display: none ! important; }
  .navbar-nav { float: none ! important; margin: 7.5px -15px; }
  .navbar-nav > li { float: none; }
  .navbar-nav > li > a { padding-top: 10px; padding-bottom: 10px; }
  header .navbar-brand { margin: 14px auto; float: none; padding: 0px 15px; display: inline-block; }
  .navbar-wp .navbar-collapse { background-color: rgb(52, 73, 94); }
  .navbar-wp .navbar-nav > li { border-bottom: 1px solid rgb(47, 65, 84); }
  .navbar-wp .navbar-nav > li > a { color: rgb(255, 255, 255); padding: 10px 20px ! important; margin-right: 0px; }
  .navbar-wp .navbar-nav > li > a::after { content: "+"; position: relative; float: right; }
  .navbar-wp .navbar-nav > li > a:hover, .navbar-wp .navbar-nav > li > a:focus { color: rgb(255, 255, 255); background-color: rgb(246, 71, 71); border-radius: 0px ! important; }
  .navbar-wp .dropdown-menu::after { border: 0px none ! important; margin-left: 0px; }
  .navbar-wp .dropdown-menu::before { border: 0px none ! important; margin-left: 0px; }
}
